/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: hsl(0, 0%, 93%);
  font-family: Besley, serif;
}

.header {
  background: hsl(0, 0%, 100%);
  border-bottom: 1px solid hsl(0, 0%, 87%);
  box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.1);
}

.profile-image {
  background: hsl(270, 50%, 40%);
  box-shadow: inset 2px 2px 4px hsla(0, 0%, 0%, 0.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.logo {
  color: hsl(270, 50%, 40%);
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
}

button {
  border: none;
  border-radius: 8px;
  background: hsl(270, 50%, 40%);
  color: white;
  padding: 8px 24px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: hsl(270, 50%, 40%);
}

ul {
  list-style-type: none;
}

/* solution */

.header {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
}

.left_container,
.right_container {
  display: flex;
  gap: 16px;
}

.header ul {
  display: flex;
  padding: 0;
  gap: 16px;
}

.profile-image {
  flex-shrink: 0;
}


